*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.background{
    width:200vh;
    height:150vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar{
    width:100%;
    margin: 0;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));
}

.busca{
    width: 1200px;
    height: 40px;
    border-radius: 10px;
    color: white;
    background: transparent;
}

.logo{
    width:120px;
    margin-left: 20px;
    cursor:pointer;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
}

.navbar ul li::after{
    content:'';
    height:3px;
    width: 0%;
    background: blue;
    position: absolute;
    left:0;
    bottom: -5px;
    transition: 0.3s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.container{
    position: relative;
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 2px;
}

h1{
  padding: 5%;
  color:orangered;
  text-align: center;
}

.container img{
   width: 250px;
   height: 250px;
   padding: 2px;
   border-radius: 50%;
}

.container .content{
    margin-top: 70px;
    margin-left: 25px;
    padding: 2px;
    color:white;
}

.container .content h3{
    color:orange;
}

.container .content button{
    width:200px;
    padding: 15px 0;
    text-align: center;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #7dccb2;
    background: transparent;
    color:white;
    cursor:pointer;
    margin-top: 15px;
}

.newsletter{
    text-align: center;
}

.newsletter input{
    width: 400px;
    height: 50px;
    border: 2px solid black;
    background-color: #c9c5c5;
}

.newsletter button{
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid #2a9270;
    background: transparent;
    color:white;
    cursor:pointer;
    margin-top: 15px;
}

.container .imgproduto img{
    width: 500px;
    height: 500px;
    padding: 2px;
    border-radius: 5px;
    margin-left: 20%;
    border: black;
    border-style: solid;
}

.contentproduto h2{
   color:rgb(50, 218, 28);
   text-align: center;
   font-size: 75px;
}

.contentproduto p{
    margin-top:100px;
    color:white;
    text-align: center;
    font-size: 40px;
}

.contentproduto button{
    width:500px;
    height: 100px;
    margin-left: 120px;
    margin-top: 50px;
    padding: 15px;
    border-radius: 5px;
    font-weight: bold;
    border: 2px solid orange;
    background: black;
    color:white;
    cursor:pointer;
}

.contentproduto h4{
    margin-top:50px;
    color:green;
    text-align: center;
    font-size: 60px;
}

.descriçãodoproduto{
    color: white;
    margin-left: 15px;
    font-size: 20px;
    letter-spacing: 2px;
}
.imagemetexto{
    position: relative;
    width: 1500px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    padding: 2px;
}

.imagemetexto img{
    width: 500;
    height: 500px;
    margin-top: 100px;
    margin-left: 100px;
}

.infos{
    padding: 2px;
}

.infos p{
    margin-left: 15px;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.joinus h2{
    font-size: 50px;
    text-align: center;
    color: green;
}

.joinus p{
    margin-top: 20px;
    margin-left: 100px;
    color:white;
    font-size: 25px;
    letter-spacing: 2px;
}

.joinus button{
    width:800px;
    height: 100px;
    padding: 15px;
    margin-left: 30%;
    margin-top: 50px;
    border-radius: 20px;
    font-weight: bold;
    border: 2px solid #7dccb2;
    background: black;
    color:white;
    cursor:pointer;

}